body{
    background-color: black; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    background-size: cover;

}

h1{
    color: rgb(255, 255, 255);
}

#message-el{
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

p{
    color: white;
}

button {
    color: #1ab876;
    background-color: rgb(59, 59, 59);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size:larger;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.btn{
    color: #0e5f31;
    background-color: rgb(247, 231, 190);
    padding: 2%;
    font-size: larger;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

.btn:hover{
    background-color: rgb(195, 205, 50);
    color: rgb(3, 49, 3);
}

#rules {
    display: none;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    max-width: 800px;
}

#rules-txt {
    text-align: left;
}

h3 {
    color: #ffcc00; /* Gold color for headers */
    margin-bottom: 15px;
}

h4 {
    color: #ffcc00; /* Gold color for subheaders */
    margin-top: 15px;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
    line-height: 1.5;
}

#dealerCards{
    display: none;
}
